#title{
    font-style:italic;
    color:white;
    border:solid 10px black;
    padding:15px;
    border-radius: 5px;
}

#paragraf{
        color:black;
        font-style: italic;
        font-size:30px;
}